html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  margin: (-$gap / 2) 0 ($gap * 3);
  font-size: 3rem;
}

h2 {
  font-family: $font-header;
}
